<div class="step-content  <%= 'is-active' if @step == 3 %>">
  <div class="field">
    <label for="" class="label">Description</label>
    <%= f.text_area :description, autofocus: true, class: "input"%>

  </div>
</div>
